<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form action="/listings/<%= listing._id %>?_method=PUT" method="POST">

        <input type="text" id="title" name="listing[title]" value="<%= listing.title %>">
        <br><br>

        <textarea id="description" name="listing[description]"><%= listing.description %></textarea>
        <br> <br>

        <input type="url" id="image" name="listing[image]" value="<%= listing.image %>">
        <br><br>

        <input type="number" id="price" name="listing[price]" value="<%= listing.price %>">
        <br><br>

        <input type="text" id="location" name="listing[location]" value="<%= listing.location %>" >
        <br><br>

        <input type="text" id="country" name="listing[country]"  value="<%= listing.country %>">
        <br><br>

        <button type="submit">Update Listing</button>
   
    </form>
</body>
</html>