<% layout('layouts/boilerplate') %>
<body>
    <H3><%= listing.title %></H3>
    <p><%= listing.description %></p>
    <p>Location: <%= listing.location %>, <%= listing.country %></p>
    <p>Price: &#8377; <%= listing.price.toLocaleString("en-IN") %> per night</p>
    <img src="<%= listing.image %>" alt="<%= listing.title %>">
    <br>
    <a href="/listings/<%= listing._id %>/edit">Edit Listing</a>
         <button><a href="/listings ">LISTING</a></button>
         <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
            <button>DELETE</button>
         </form>
</body>
